body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei",
    STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?cusgwr");
  src: url("../fonts/icomoon.eot?cusgwr#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?cusgwr") format("truetype"),
    url("../fonts/icomoon.woff?cusgwr") format("woff"),
    url("../fonts/icomoon.svg?cusgwr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #222;
}
div {
  box-sizing: border-box;
}
/* 搜索模块用固定定位 */
.search-index {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /* 固定定位的盒子应该有宽度 */
  width: 100%;
  /* 固定定位跟父级没有关系 它以屏幕为准，所以要再写一次最大宽度和最小宽度 */
  max-width: 540px;
  min-width: 320px;
  height: 44px;
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.search {
  position: relative;
  height: 26px;
  border: 1px solid #ccc;
  margin: 7px 10px;
  padding-left: 25px;
  color: #666;
  font-size: 12px;
  line-height: 24px;
  border-radius: 5px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/sprite.png) no-repeat -59px -279px;
  background-size: 104px auto;
}
.user {
  width: 44px;
  height: 44px;
  font-size: 12px;
  text-align: center;
  color: #2eaaa0;
}
.user::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url(../images/sprite.png) no-repeat -59px -194px;
  background-size: 104px auto;
  margin: 3px auto -2px;
}
/* banner */
.banner {
  padding-top: 44px;
}
.banner img {
  width: 100%;
}
/* 第一个小导航栏 */
.nav-first {
  display: flex;
  height: 64px;
  background-color: #fff;
  margin: 3px 4px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%);
}
.nav-first li {
  flex: 1;
}
.nav-first a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.nav-first li [class^="nav-first-icon"] {
  width: 32px;
  height: 32px;
  margin-top: 8px;
  background: url(../images/firstnav-bg.png) no-repeat 0 0;
  background-size: 32px auto;
}
.nav-first li .nav-first-icon-icon2 {
  background-position: 0 -32px;
}
.nav-first li .nav-first-icon-icon3 {
  background-position: 0 -64px;
}
.nav-first li .nav-first-icon-icon4 {
  background-position: 0 -96px;
}
.nav-first li .nav-first-icon-icon5 {
  background-position: 0 -128px;
}
/* 主导航栏 */
nav {
  overflow: hidden;
  border-radius: 8px;
  margin: 5px 4px 3px;
  text-align: center;
}
.nav-row {
  display: flex;
  height: 88px;
}
.nav-row:nth-child(1) {
  background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}
.nav-row:nth-child(2) {
  margin: 3px 0;
  background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}
.nav-row:nth-child(3) {
  background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}
.nav-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.nav-item:first-child a {
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px auto;
}
/* -n+2选的是前两个 */
.nav-item:nth-child(-n + 2) {
  border-right: 1px solid #fff;
}
.nav-item a {
  flex: 1;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  /* 文字阴影 */
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.nav-item:nth-child(n + 2) a:first-child {
  border-bottom: 1px solid #fff;
}
/* 第二个小导航栏 */
.nav-second {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 4px;
  flex-wrap: wrap;
  padding: 5px 0;
}
.nav-second li {
  /* 每个li占父盒子宽度的20% */
  flex: 20%;
}
.nav-second li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.nav-second li [class^="nav-second-icon"] {
  width: 28px;
  height: 28px;
  margin-top: 4px;
  background: url(../images/secondnav-bg.png) no-repeat;
  background-size: 28px auto;
}
.nav-second li .nav-second-icon-icon2 {
  background-position: 0 -29px;
}
.nav-second li .nav-second-icon-icon3 {
  background-position: 0 -65px;
}
.nav-second li .nav-second-icon-icon4 {
  background-position: 0 -100px;
}
.nav-second li .nav-second-icon-icon5 {
  background-position: 0 -132px;
}
.nav-second li .nav-second-icon-icon6 {
  background-position: 4px -163px;
}
.nav-second li .nav-second-icon-icon7 {
  background-position: -2px -198px;
}
.nav-second li .nav-second-icon-icon8 {
  background-position: 0 -230px;
}
.nav-second li .nav-second-icon-icon9 {
  background-position: 0 -259px;
}
.nav-second li .nav-second-icon-icon10 {
  background-position: 3px -288px;
}
/* 促销模块 */
.sales-box {
  margin: 5px;
  border-top: 1px solid #bbb;
  background-color: #fff;
}
.sales-hd {
  position: relative;
  height: 45px;
  border-bottom: 1px solid #ccc;
}
.sales-hd h2 {
  position: relative;
  text-indent: -999px;
  overflow: hidden;
}
.sales-hd h2::after {
  position: absolute;
  top: 8px;
  left: 20px;
  content: "";
  width: 79px;
  height: 15px;
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px auto;
}
.sales-hd-more {
  position: absolute;
  right: 5px;
  top: 0;
  padding: 3px 20px 3px 10px;
  background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
  border-radius: 15px;
  color: #fff;
}
.sales-hd-more::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 9px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.sales-bd-row {
  display: flex;
}
.sales-bd-row a {
  flex: 1;
  border-bottom: 1px solid #eee;
}
.sales-bd-row a:first-child {
  border-right: 1px solid #eee;
}
.sales-bd-row a img {
  width: 100%;
}
footer {
  margin-top: 5px;
}
.tools {
  display: flex;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.tools a {
  flex: 1;
  text-align: center;
  color: #333;
}
.tools a span {
  font-family: "icomoon";
  line-height: 60px;
}
.f-settings {
  height: 24px;
  margin: 5px 0;
  line-height: 24px;
  text-align: center;
}
.f-settings a {
  color: #666;
  vertical-align: middle;
}
.f-settings a:nth-child(2)::before {
  content: "\e9c9";
  margin: 0 5px;
  font-family: "icomoon";
}
.f-settings a:nth-child(2)::after {
  content: "";
  display: inline-block;
  margin: 3px 9px 3px 5px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  transform: rotate(45deg);
}
footer p {
  color: #999;
  text-align: center;
}
